@import '../../index.scss';

.home{
    .board, form{
        width: 700px;
        margin: 2rem auto;
        padding: 2rem;
        border: 0.2rem solid $primary;
        border-radius: 0.5rem;
    }

    .board{

        h1{
            text-align: center;
            text-transform: uppercase;
        }

        table{
            width: 100%;

            tr{
                td{
                    padding: 0.5rem 0;
                    text-align: center;

                    &:first-of-type, &:last-of-type{
                        width: calc(50% - 2.5rem);
                    }

                    &:nth-of-type(2){
                        width: 5rem;
                    }
                }
            }
        }
    }

    form{
        justify-content: space-between;
        
        .column{
            width: 48%;
        }
    }
}