@import '../../index.scss';

.home{
    .board, form{
        width: 700px;
        margin: 2rem auto;
        padding: 2rem;
        border: 0.2rem solid $primary;
        border-radius: 0.5rem;
    }

    .board{

        h1{
            text-align: center;
            text-transform: uppercase;
        }

        table{
            width: 100%;

            tr{
                td{
                    width: calc 48%;
                    padding: 0.5rem 0;
                    text-align: center;
                }
            }
        }
    }

    form{
        justify-content: space-between;
        
        .column{
            width: 48%;
        }
    }
}